body {
	background-image: url("https://ubuntualways.files.wordpress.com/2013/01/pedras.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 13px;
}

*{
	border: 1px, solid, rgba(0, 0, 0, 0.3);
}

h1{
	height: 150px;
  width: 150px;
  display: table-cell;
  text-align: center;
  font-size:36px;
  vertical-align: middle;
  border-radius: 50%;
  background: #e9d4b3, #91e842;
  position: relative;
  left: 370px;
  top: 200px;
}


#samsung{
	height: 100px;
	border-style: solid;
	overflow: hidden;
	border-radius: 10px;
	width: 200px;
	position: relative;
	left: 80px;
	bottom: 400;
}
img.achicar{
	width: 200px;

}

#motorola{
	border-style: solid;
	height: 75px;
	border-radius: 10px;
	overflow: hidden;
	width: 250px;
	position: relative;
	left: 630px;
	bottom: 100px;
}

#iphone{
	border-style: solid;
	border-radius: 100px;
	height: 100px;
    width: 310px;
    overflow: hidden;
    position: relative;
    bottom: 70px;
}
#microsoft{
	border-style: solid;
	width: 250px;
	position: relative;
	left: 630px;
	bottom: 150px;
}
#huawei{
	border-style: solid;
	width: 300px;
	height: 100px;
	overflow: hidden;
	border-radius: 15px;
	position: relative;
	left: 300px;
	bottom: 500px;
}
#nokia{
	border-style: solid;
	width: 320px;
	height: 120px;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
	bottom: 230px;
	left: 300px;
}


