<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<display-name>Comunidad IT</display-name>
	
	<!-- <listener>
	  	<listener-class>
	  		ar.com.virtualmind.encuesta.auth.servlets.CustomServletContext
	  	</listener-class>
  	</listener> -->
	
	<!-- <servlet>
    	<servlet-name>initServer</servlet-name>
    	<servlet-class>ar.com.virtualmind.encuesta.init.InitServer</servlet-class>
    	<load-on-startup>1</load-on-startup>
  	</servlet> -->
 
	<!-- <servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>
                     ar.com.virtualmind.encuesta.pub.servlets.PubServletContainer
        </servlet-class>
		<init-param>
		     <param-name>jersey.config.server.provider.packages</param-name>
		     <param-value>ar.com.virtualmind.encuesta.pub.controllers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
	    </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>auth-serlvet</servlet-name>
		<servlet-class>
                     ar.com.virtualmind.encuesta.auth.servlets.AuthServletContainer
        </servlet-class>
		<init-param>
		     <param-name>jersey.config.server.provider.packages</param-name>
		     <param-value>ar.com.virtualmind.encuesta.auth.controllers</param-value>
		</init-param>
		<init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>ar.com.virtualmind.encuesta.auth.servlets.CustomAuthFilter,
            			 org.glassfish.jersey.server.filter.RolesAllowedDynamicFeature
            </param-value>
        </init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
	    </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
     <servlet-name>Default</servlet-name>
     <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
     <init-param>
       <param-name>useFileMappedBuffer</param-name>
       <param-value>false</param-value>
     </init-param>
     <load-on-startup>0</load-on-startup>
   </servlet>
   
	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/ws/pub/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>auth-serlvet</servlet-name>
		<url-pattern>/ws/auth/*</url-pattern>
	</servlet-mapping> -->
 
</web-app>